@media screen and (max-width:599px){
    .form{
        margin: 30px 10px !important;
        
    }

    .form form {
        max-width: 100% !important;
        padding: 24px 34px !important;
        box-shadow: 2px 8px 8px 10px rgba(0, 0, 0, 0.2) !important;
    }

    h2{
        font-size: 22px;
    }
}

h2{
    font-size: 28px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.form form {
    max-width: 50%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}